<!DOCTYPE html>
<html>

<head>

    {{>headerLinks}}

</head>

<body>

    {{>navbars}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errorimg">
                            <img src="images/404.jpg" alt="mansi" class="img-fluid" title="mansi technical">
                        </figure>
                        <a href="/" style="cursor: pointer;"><button>Go to home page</button></a>
                        <h1>{{errorMsg}} </h1>
                        <h1> </h1>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{>footer}}
</body>

</html>